html{
  display: flex;
  width:100%;
  min-height: 100%;
  overflow: auto;
}

body{
  flex:1;
  margin: 0px;
  background: #222;
  font-weight: 300;
  background-image: url("cool-background.png");
  width: 100%;
  height:auto;
  min-height: 100%;
  overflow: auto;
  background-color: black;

  font-family: 'IBM Plex Mono', sans-serif;
}



.container{
  width: 100%;
  height: 100%;
  margin: 0 auto;
}




header{
  position:relative;
  background-color: black;
  min-height:10%;
}

#logo-container {
  position:absolute;
  width:50%;
  left:1%;
  top:10%;

  font-family: 'Press Start 2P', cursive;
  font-weight:normal;
  color:white;
  background-color:transparent;

  text-align:left;
}

header nav {
  position:absolute;
  bottom:0;
  right:0%;

  background-color: transparent;
  width:100%;
  z-index:0;
  text-align:right;
}

header nav{
  float: right;
}

header nav ul{
  margin: 0;
  padding:0;
  list-style: none;
}

header nav li{
  display: inline-block;
  margin-left: 1%;
  padding-top: 23px;
  font-family: 'Press Start 2P', cursive;
}

header nav ul li a{
  color: #ccc;
  text-decoration: none;
  font-size: 9px;

}

header nav ul li a:hover{
  color: white;
}


header::after {
  content: '';
  display: table;
  clear: both;
}

.image-container{
  width:100%;
  /*min-height:100%;*/
  height: auto;
}
.cool-image{
  background-image: url("library.jpg");
  position: fixed;
  z-index: -1;
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  width:100%;
  height:50%;
  top:0%;
  left:0;
}

#content-area {
  margin-top:20%;
  background-color:black;
  color:white;
  padding:2.5%;
}






footer{
  background-color: black;
  width: 100%;
  height:15%;
  color:white;
}

footer p{
  text-align: center;
  color: white;

}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
  font-size: 0.9em;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#contact-section {
  border-radius: 5px;
  background-color: coral;
  padding: 20px;
  margin-bottom:0%;